*{
    margin: 0;
    padding: 0;
}

/* Haeder  */
header {
    background-color: black;
}

header div {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header img {
    width: 10em;
}

header nav button {
    background-color: #004fff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5rem;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    box-shadow: 0 1rem 1.1rem 0 rgba(86,221,239,0.24),0 17px 50px 0 rgba(86,221,239,0.19);
}

header nav button:hover {
    box-shadow: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: large;
}

/* Body  */

.container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
}

.container p {
    font-size: 1.2em;
}

/* Blokken */

.blokken div {
    display: flex;
    align-items: center;
}

.blokken img {
    width: 50rem;
}

.blokken p {
    text-align: center;
}

/* Rooster */

.rooster {
    padding: 1rem 0;
}

.rooster img {
    width: 50rem;
}

/* Teachers */

.teachers {
    padding-bottom: 1rem;
}

.teachers .persons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* Footer */

footer {
    text-align: center;
    background-color: black;
    color: white;
}

/* Responsize */

@media only screen and (max-width: 768px) {
    /* Header */

    header div {
        max-width: 100%;
        flex-direction: column;
    }

    header img {
        margin-bottom: 1rem;
    }

    /* Body */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Blokken */

    .blokken div {
        display: block;
    }

    .blokken img {
        width: 30rem;
    }

    /* Rooster */

    .rooster img {
        width: 30rem;
    }

    /* Teachers */

    .teachers .persons {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}