*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header  */

header {
    position: sticky;
    top: 0;
    background-color: #56ddef;
    padding: 1.25rem 0;
}

header div {
    max-width: 80%;
    margin: 0 auto;
}

header img {
    width: 6.25rem;
}

header h1 {
    color: #78034b;
}

/* Navbar */

header nav {
    margin-top: 0.5rem;
}

header nav button {
  text-align: center;
  border: none;
  background-color: #56ddef;
  color: #78034b;
  text-decoration: underline;
  font-size: 1em;
}

header nav button:hover{
  color: #69197c;
}

header nav .active {
  color: #660404;
}

/* Main */

main {
  max-width: 80%;
  margin: 0 auto;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

/* Home */

.home {
  display: block;
}

/* Schedule */

.schedule p {
  margin: 1rem 0;
}

.schedule img{
  max-width: 80%;
}

.schedule .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.schedule .container p {
  margin: 0.5rem 0;
}

/* Teachers */


.teachers .persons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}